<div class="loginBox">

    <h1>Advanced Login Form</h1>
    <div class="mainbox">
        <form action="{{ url_for('submission_successful') }}" id="mainForm">
        <h1>Login</h1>

        <div class="inputs">
            <div class="icon-input">
                <input type="text" placeholder=" Email" id="emailInputID">
              </div>
              <div class="icon-input2">
                <input type="password" placeholder=" Password" id="passwordID">
              </div>
        </div>

        <div class="showpwd" id="showpwdID">
            <i class="fa-solid fa-eye" id="showPass" onclick="show_password('show')"></i>
            <i class="fa-solid fa-eye-slash" id="hidePass" onclick="show_password('hide')"></i>
        </div>

        <div class="understuff">
            <div class="one">
                <input type="checkbox" name="r_me" id="r_me">
                <label for="r_me">Remember Me</label>
            </div>

            <a href="#">Forgot Password?</a>
        </div>

        <button type="submit">LOGIN</button>
        </form>
    </div>

    <div class="whatis">
        <a href="{{ url_for('howsItWork') }}">How's it work?</a>
    </div>

    <h5><span>Test Email: test@testmail.com</span> | <span>Test Password: testpassword098</span></h5>
    <small>&copy; 2023-{{year}} CEJ Van Niekirk. All Rights Reserved | Design by CEJ Van Niekirk</small>
</div>